- name: Install containerd
  apt:
    name: containerd
    state: present

- name: Create containerd config directory
  file:
    path: /etc/containerd
    state: directory

- name: Generate default containerd config
  command: containerd config default
  register: containerd_config
  args:
    creates: /etc/containerd/config.toml

- name: Write containerd config
  copy:
    dest: /etc/containerd/config.toml
    content: "{{ containerd_config.stdout }}"
  when: containerd_config.changed

- name: Enable systemd cgroup
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'

- name: Restart containerd
  systemd:
    name: containerd
    enabled: yes
    state: restarted
